<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        Icon11
      </div>
      <div class="col-xs-10">
        Icon Text 11
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        Icon Sub Text 11
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        Icon12
      </div>
      <div class="col-xs-10">
        Icon Text 12
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        Icon Sub Text 12
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        Icon21
      </div>
      <div class="col-xs-10">
        Icon Text 21
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        Icon Sub Text 21
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        Icon22
      </div>
      <div class="col-xs-10">
        Icon Text 22
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        Icon Sub Text 22
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        Icon31
      </div>
      <div class="col-xs-10">
        Icon Text 31
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        Icon Sub Text 31
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        Icon32
      </div>
      <div class="col-xs-10">
        Icon Text 32
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        Icon Sub Text 32
      </div>
    </div>
  </div>
</div>
